* {
  font-size: 15px;
  font-family: monospace;
}

window#waybar {
  background: black;
  color: white;
}

#workspaces button {
  padding: 0 2px;
  color: #bac2de;
}
#workspaces button.focused {
  color: #94e2d5;
}

#pulseaudio {
  color: #89b4fa;
}
#memory {
  color: #a6e3a1;
}
#cpu {
  color: #94e2d5;
}
#battery {
  color: #eba0ac;
}
#network {
  color: #89dceb;
}
#clock,
#pulseaudio,
#memory,
#cpu,
#battery {
  padding: 0 10px;
}
